#messages-container {
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 15px;
    overflow-y: scroll;
    /* max-height: 85%; */
    height: 100%;
    /* outline: 3px solid #00328f; */
    bottom: 10px;

    display: flex;
    flex-direction: column;

    position: relative;

    /* background-image: linear-gradient(to right, rgba(20, 150, 20, 0.5), rgba(0, 180, 0, 0.5)); */
    background-color: hsl(206, 12%, 15%);
}

/* width */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #0000008f;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #000000d0;
  }

.message-box {
    font-size: 0.7em;

    margin: 5px;
    padding: 8px 12px;

    max-width: 60vw;
    width: fit-content;


    display: flex;
    flex-direction: column;
    align-items: flex-start;

    border-radius: 15px;

    overflow-wrap: break-word;

    outline: 1px solid black;
}

.message-got {
    background-color: hsl(222, 42%, 30%);
}

#to-bottom-button {
    position: fixed;
    bottom: 130px;
    right: 40px;

    font-size: 30px;

    height: 65px;
    width: 65px;

    border-radius: 50%;

    background-color: rgba(0, 0, 0, 0.23);
    border: 2px solid black;
}

.message-name {
    font-weight: bold;
    margin: 1px;
    font-size: 1.3em;
}

.message-text {
    color: #fff;
    margin: 1px;
    font-size: 1.6em;
    max-width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.message-sent {
    text-align: start;
    align-self: flex-end;
    justify-self: flex-end;
    background-color: rgb(61, 145, 72);
}

@media screen and (max-width: 587px) {
    #to-bottom-button {
        bottom: 120px;
        right: 20px;
        width: 50px;
        height: 50px;
        font-size: 23px;
    }

    #messages-container {
        max-height: 70vh;
    }
}