* {
    box-sizing: border-box;
}

html {
    height: 100vh;

    overflow-y: hidden;

    font-family: roboto;

    background-color: rgb(1, 88, 1);
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    height: 90%;
    
}

#emoji-picker {
    font-size: 35px;

    border-radius: 80%;
    border: 0;

    background-color: transparent;
    color: white;
}

#send-button {
    font-size: 25px;

    border-radius: 80%;
    border: 0;

    background-color: transparent;
    color: white;

    margin: 0;
}


#chat-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 8%;
    bottom: 0;

    margin: 20px;
    padding: 4px 10px;

    border-radius: 20px;
    
    background-color:rgb(1, 88, 1);
}


#chat-text {
    width: 100%;
    height: 90%;

    margin: 5px;
    padding: 20px;
    
    border-radius: 20px;
    border: 0;

    font-size: 1.5em;
    
    color: #fff;
    background-color:rgb(1, 63, 1);

}

#chat-text:focus {
    outline: 0;
}

#chat-input .my-button {
    height: 50% !important;
    width: 5% !important;
}

.my-button {
    border-radius: 10px;
    margin: 0 3px;
    font-size: 1em;
}