* {
    box-sizing: border-box;
}

html {
    height: 100vh;

    overflow-y: hidden;

    font-family: roboto;

    background-color: rgb(1, 88, 1);
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

main {
    height: 90%;
}

a {
    color:rgb(100, 0, 200);
    text-decoration: none;
}

.chat-box-button {
    font-size: 20px;;

    border-radius: 80%;
    border: 0;

    padding: 15px;

    background-color: transparent;
    color: white;
}

.chat-box-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#emoji-picker {
    font-size: 35px;
}

#send-button {
    font-size: 25px;
    margin: 0;
}

#voice-button {
    font-size: 30px;
}


#chat-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 8%;
    bottom: 0;

    margin: 20px;
    padding: 4px 10px;

    border-radius: 20px;
    
    background-color:rgb(1, 88, 1);
}


#chat-text-box {
    width: 100%;
    height: 90%;

    margin: 5px;
    padding: 20px;
    
    border-radius: 20px;
    border: 0;

    font-size: 1.5em;
    
    color: #fff;
    background-color:rgb(1, 63, 1);
}

#chat-text-box:focus {
    outline: 1px solid black;
}


#voice-control-container {
    display: flex;
    flex-direction: column;
    background: rgb(1, 100, 1);

    border-radius: 20px;
}


#voice-control-container * {
    padding: 10px;
    margin: 0;
}



.my-button {
    border-radius: 10px;
    margin: 0 3px;
    font-size: 1em;
}